<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-4">
  <div class="container-fluid">
      <a class="navbar-brand me-3" routerLink="/infousers">NumRot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/infousers" routerLinkActive="active"><i
                          class="fa-solid fa-users me-1"></i> Usuarios</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/reports" routerLinkActive="active">
                      <i class="fa-sharp fa-solid fa-chart-simple"></i> Interacciones</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/invoices" routerLinkActive="active">
                  <i class="fa-solid fa-file-invoice-dollar"></i> Facturas</a>
            </li>
          </ul>
      </div>
  </div>
</nav>
